---
layout: default
---

{{ content }}

<!-- Home Post List -->
{% for post in site.posts limit : 5 %}

  <article class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
      <h2 class="post-title">{{ post.title }}</h2>
    </a>
    {% if post.subtitle %}
      {{ post.subtitle }}
    {% else %}
      {{ post.excerpt | strip_html | truncatewords: 15 }}
    {% endif %}
    <p class="post-meta">Posted on {{ post.date | date: '%B %d, %Y' }}</p>
  </article>

  <hr>

{% endfor %}

